@import url('https://fonts.cdnfonts.com/css/poppins');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins' sans-serif;
}
section{
    margin-top: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

header .header-img {
    margin-left: 2em;
}

header .header-items ul {
    display: none;
}

header .header-items .header-button {
    display: none;
}

header .header-items .hamburger-menu {
    display: inline-block;
    cursor: pointer;
    margin-right: 2em;
}



header .bar1,
.bar2,
.bar3 {
    background-color: rgb(0, 70, 0);
    width: 35px;
    height: 5px;
    margin: 6px 0;

}

.banner {
    background-image: url(../images/Rectangle\ 264.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 88vh;
    display: flex;
    align-items: center;
    color: #ffff;
}

.banner .banner-items h1 {
    font-family: bold;
    font-size: 25px;
    text-align: center;
}

.banner .banner-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner .banner-items button {
    width: 75%;
    padding: 15px 6px;
    border: none;
    border-radius: 25px;
    color: rgb(0, 148, 54);
    /* font-family: medium;
    font-family: 'Poppins'; */
    font-size: 16px;
}


/* MEDIA QUERIES FOR LANDSCAPE */
@media(min-width: 568px) {}

/* END MEDIA QUERIES */


/* MEDIA QUERIES FOR IPAD */
@media(min-width: 768px) {
    .banner {
        padding-left: 20px;
    }

    .banner .banner-items {
        align-items: flex-start;
        margin-bottom: 9em;
    }

    .banner .banner-items h1 {
        font-family: bold;
        font-size: 36px;
        text-align: left;
        left: 1;
    }

    .banner .banner-items button {
        width: 40%;
        margin-top: 40px;
    }

}

/* END MEDIA QUERIES */


/* MEDIA QUERIES FOR LAPTOPS*/
@media(min-width: 998px) {
    header .header-items {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    header .header-items .hamburger-menu {
        display: none;
    }

    header .header-items ul {
        display: block;
        display: flex;
        align-items: center;
        /* margin-right: 50px; */
    }

    header .header-items ul li {
        padding: 10px;
        list-style: none;
        color: rgb(0, 60, 0);
        font-size: 19px;
        font-family: medium;
    }

    header .header-items .header-button {
        display: block;
        margin-right: 20px;
    }



    input[type="search"] {
        border: 1px solid rgb(0, 70, 0);
        padding: 10px;
        font-size: 20px;
        font-family: medium;
        width: 200px;
        border-radius: 25px;
        text-align: center;
        color: rgb(0, 70, 0);
        outline: none;
    }

    .banner .banner-items {
        margin-bottom: 2em;
    }

    .banner .banner-items button {
        width: 37%;
        margin-top: 22px;
    }


}

/* END MEDIA QUERIES */

@media(min-width: 1280px) {
    header .header-img {
        margin-left: 65px;
    }


    header .header-items ul {
        margin-right: 286px;
        width: 100%;
        font-size: 25px;
    }

    header .header-items .header-button {
        margin-right: 50px;
    }

    .banner {
        padding-left: 65px;
    }

    .banner-items {
        margin-bottom: 2em;
    }

    .banner .banner-items h1 {
        font-size: 64px;
    }

    .banner .banner-items button {
        width: 29%;
        margin-top: 50px;
    }

}

*{ margin: 0;
    padding: 0;

}

.about{
    margin: 10px;
}
.about h2{
    font-size: 20px;
    font-family: 'poppinsextrabold';
    color: rgb(44, 75,29);
    margin-bottom: 20px;
    text-align: center;
   

}
.about .button-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.about h3{
    font-size: 12px;
    font-family: 'poppinsbold'; 
    color: rgb(44, 75,29);
    text-align: center;
}
.about p{
    font-size: 12px;
    font-family: 'poppinsregular';
    color: rgb(44, 75,29);
    text-align: center;
    text-align: justify;

}
.about button{
    background-color:  rgb(255, 255,255);
    border-color:  rgb(44, 75,29);
    color:  rgb(44, 75,29);
    padding: 10px 30px;
    font-family: 'poppinsbold';
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;        
    margin: 4px 2px;
    border-radius: 20px;
    width: 50%;
    
  
}
.about img{
    width: 100%;
    margin-top: 20px;

}
.contact{
    margin: 10px;
}
.contact h2{
    font-size: 20px;
    font-family: 'poppinsextrabold';
    color: rgb(44, 75,29);
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;

}
.contact img{
    width: 100%;
    margin-top: 10px;

}
.contact .table{
    display: flex;
    align-items: center;
    text-align: center;
}
input[type="text"],
    select {
      width: 80%;
      padding: 10px 20px;
      margin: 8px 0;
      background-color: rgb(255, 255, 255);
      font-size: 10px;
     border-top: none;
     border-left: none;
     border-right: none;
     border-bottom: 1px solid rgb(44, 75,29);
     
     
    }
    input[type="submit"] {
        background-color:  rgb(255, 255,255);
        border-color:  rgb(44, 75,29);
        color:  rgb(44, 75,29);
        padding: 10px 30px;
        font-family: 'poppinsbold';
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        border-radius: 20px;
        margin-top: 30px;
        width: 50%;
       
     
    }

    @media (min-width: 768px) {
        .about h2{
            font-size: 30px;
            font-family: 'poppinsextrabold';
            color: rgb(44, 75,29);
            text-align: left;
        }
        .about h3{
            font-size: 12px;
            font-family: 'poppinsbold';
            color: rgb(44, 75,29);
            text-align: left;
        }
        .about p{
            font-size: 13px;
            font-family: 'poppinsregular';
            color: rgb(44, 75,29);
            text-align: left;
            text-align: justify;
        }
        .about .button-container{
            display:flex;
            align-items: center;
            justify-content: start;
        }
        .contact {
           margin-top: 20px;
        }
        .about img{
            width: 100%;
            margin-top: 50px;
        
        }
        .contact h2{
            font-size: 30px;
            font-family: 'poppinsextrabold';
            color: rgb(44, 75,29);
            text-align: left;
            padding-left: 32px;
        }
    }
    @media (min-width: 1024px) {
        .about img{
         position: relative;
         bottom: 20px;
        }
       
        .about h2{
            font-size: 35px;
            font-family: 'poppinsextrabold';
            color: rgb(44, 75,29);
            text-align: left;
        }
        .about h3{
            font-size: 13px;
            font-family: 'poppinsbold';
            color: rgb(44, 75,29);
            text-align: left;
        }
        .about p{
            font-size: 15px;
            font-family: 'poppinsregular';
            color: rgb(44, 75,29);
            text-align: left;
            text-align: justify;
        }
        .contact h2{
            font-size: 35px;
            font-family: 'poppinsextrabold';
            color: rgb(44, 75,29);
            text-align: left;
            padding-left: 52px;
        }
        input[type="submit"] {
            font-size: 15px;
        }
        .about button{
            font-size: 15px;
        }
        input[type="text"],
        select{
            margin: 18px 0px;
        }

}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape) {
    .card {
        background-color: rgb(0,81, 20);
         margin: 0px; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px;
        position: relative;
        border-radius: 5px;
        border-radius: 20px;
        border: 2px solid white;
         height: 91%; 
        text-align: left;
    }
}

/* ipone x */
@media only screen 
  and (max-device-width: 375px) 
  and (min-device-height: 812px) 
  and (-webkit-device-pixel-ratio: 3)
  and (min-resolution: 192dpi)
  and (orientation: portrait) {
    .text-content {
        font-weight: bolder;
        font-size: 31px;
        color: #fff;
    }
}
.formSection{
    padding: 50px 10px 30px;
}
.formSection h2{
    font-family: 'poppinsbold';
    color: rgb(0, 81, 11);
    font-size: 30px;
    text-align: center;
}
.formSection form{
   width: 100%;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
label{
    font-family: 'poppinssemibold';
    color: rgb(0, 81, 11);
    font-size: 15px;
}
.divContaining2Inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formSection input{
    border: 1px solid rgb(0, 81, 11);
    border-radius: 19px;
    height: 45px;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 15px;
    color: rgb(0, 81, 11);
}
.formSection input:focus{
    outline: none;
}
.formCheckBoxsection{
    margin: 30px 0px 30px;
    font-family: 'poppinssemibold';
    color: rgb(0, 81, 11);
}
.formCheckBoxsection p{
    font-size: 15px;
}
.checkboxContainer{
    display: flex;
    gap: 20px;
}
.benefits-label{
    display: flex;
}
.benefits-label input{
    width: 40px;
    height: 40px;
}
.benefits-label p{
    margin: 13px 0px 0px 10px;
}
.formSubmitButton{
    background-color: rgb(0, 81, 11);
    border: none;
    border-radius: 30px;
    color: white;
    font-family: 'poppinssemibold';
    padding: 10px 0px;
    width: 200px; 
}
.formSection form a{
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: center;
}


/* 
---------------  MEDIA QUERIES    MEDIA QUERIES  -----------------
------------------------------------------------------------------ */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
.formSection{
   padding: 50px 90px 30px;
}
.formSection h2{
   text-align: left;
}
.form-group{
   margin-top: 30px;
}
.divContaining2Inputs{
   display: flex;
   flex-direction: row;
   gap: 40px;
   width: 100%;
}
.divContaining2Inputs .form-group{
   width: 50%;
}

}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.formSection h2{
   font-size: 45px;
}
.form-group{
    margin-top: 40px;
}
label{
    font-size: 20px;
}
.formSection input{
    height: 55px;
    font-size: 20px;
}
.formCheckBoxsection p{
    font-size: 20px;
}
.benefits-label p{
    margin: 7px 0px 0px 15px;
}
.formSubmitButton{
    padding: 15px 0px;
    width: 230px; 
}

}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
.formSection{
   padding: 50px 200px 30px;
}
.formSection h2{
    font-size: 48px;
}
.form-group{
    margin: 30px 0px 20px;
}
label{
    font-size: 25px;
}
.formSection input{
    height: 55px;
}
.formCheckBoxsection p{
    font-size: 25px;
}


}






